
html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: lightblue;
}

body {
  width: 100%;
  margin: 0 auto;
}

ul {
    display:flex;
}

li {
    list-style: none;
}

a {
    display:block;
    text-decoration: none;
    text-anchor: unset;
    padding: 1px;
}

textarea {
  width:80%;
  height:150px;
}

.shipping {
  display: inline;
}

#checkshipping:checked+.shipping {
  display: none;
}

.textbox {
  width: 60%;
}

.column label {
  width:150px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display:flex;
  flex:50%;
  margin:0px 10px 0px 10px; 
}

.small-column {
  flex: 20%;
}

.big-column {
  flex: 80%;
}

@media screen and (max-width: 600px) {
  .column {
    flex-direction: column;
  }
  .column label {
    width:100%;
  }
  .textbox {
    width:100%;
  }
}